@use './../../assets/styles/variables' as vars;


.nodeCircle {
    fill: vars.$secondary;
    position: relative;
    
    ::before {
        content: "";
        position: absolute;
        width: 200px;
        height: 2px;
        background: black;
        top: 50%;
        left: 50%;
        transform-origin: left center;
        transform: rotate(-45deg);
    }
}


.nodeLine {
    stroke: vars.$secondary;
    stroke-width: 1px;
}
