@use './../../assets/styles/variables' as vars;



.solutions {
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
}

.solutionItem {
    width: 100%;
    
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.imgWrapper {
    height: 260px;
    width: 100%;
    
    background: vars.$gray;
    border-radius: 25px;

    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;
}

.text {
    text-align: center;
}

.image {
    width: 100%;

    mix-blend-mode: multiply;
}