@use './../../assets/styles/variables' as vars;



.solutions {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;

    @media (max-width: 1440px) {
      grid-template-columns: repeat(4, 1fr);
    }

    @media (max-width: 1280px) {
      grid-template-columns: repeat(3, 1fr);
    }
}


.imgWrapper {
    height: 260px;
    width: 100%;
    
    background: vars.$gray;
    border-radius: 25px;

    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;

    margin-bottom: 10px;

    @media (max-width: 768px) {
      height: 200px;
    }
}

.text {
    text-align: center;
}

.image {
    width: 100%;

    mix-blend-mode: multiply;
}