@use './../../assets/styles/variables' as vars;



.header {
    height: 800px;
    background: linear-gradient(84.316deg, vars.$white 0%, vars.$accent 100%);

    @media (max-width: 1440px) {
      height: 600px;
    }

    @media (max-width: 768px) {
      height: 400px;
    }
}

.headerWrapper {
    position: relative;

    height: 100%;
}

.title {
    font-family: "Manrope", sans-serif;
    font-size: 96px;
    letter-spacing: 22px;
    line-height: 115%;
    font-weight: vars.$regular;

    display: flex;
    align-items: center;
    min-height: 100%;

    @media (max-width: 1440px) {
      font-size: 80px;
    }

    @media (max-width: 768px) {
      font-size: 60px;
    }
}


.camera {
    position: absolute;
    top: 0;
    right: 0;

    animation: cameraBreathing 8s ease-in-out infinite;

    @media (max-width: 1920px) {
      right: -200px;
    }

    @media (max-width: 1440px) {
      visibility: hidden;
    }
}


.particle {
    position: absolute;

}

.particle1 {
    bottom: 0;
    animation: floatParticle1 12s ease-in-out infinite;
    animation-delay: 0s;

    height: 100px;
}

.particle2 {
    top: 0;
    left: 50%;
    animation: floatParticle2 15s ease-in-out infinite;
    animation-delay: 2s;
}


// Rays
.sun-container {
    position: absolute;
    display: inline-block;
    top: 25%;
    left: 20%;
  
  .wire {
    position: relative;

    z-index: 2;
    animation: gentleFloat 4s ease-in-out infinite;

    @media (max-width: 1440px) {
      height: 350px;
      left: -10%;
    }

    @media (max-width: 1024px) {
      height: 250px;
      left: 100px;
      top: 50px;
    }

    @media (max-width: 768px) {
      display: none;
    }
  }
  
  .rays {
    position: absolute;
    left: 70%;
    top: 0;
    width: 300px;
    height: 300px;
    z-index: 1;

    @media (max-width: 1440px) {
      left: 60%;
      top: -10%;
    }

    @media (max-width: 1024px) {
      display: none;
    }
  }
}


@for $i from 1 through 7 {
  .ray-#{$i} {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 6px;
    background: linear-gradient(
      to right,
      #FFD700 0%,
      #FFED4E 70%,
      rgba(255, 237, 78, 0) 100%
    );
    
    border-radius: 3px 10px 10px 3px;
    transform-origin: left center;
    
    $angle: ($i - 1) * 51.43deg;
    transform: 
      translateY(-50%)
      rotate(#{$angle})
      translateX(75px);
    
    animation: 
      rayDraw 3s ease-in-out infinite,
      rayWobble 2s ease-in-out infinite;
    animation-delay: 0.1s;
    opacity: 0;
    
    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      height: 150%;
      background: inherit;
      border-radius: inherit;
      transform: translateY(-50%);
      filter: blur(1px);
    }
  }
}

.ray {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 6px;
    background: linear-gradient(
        to right,
        #FFD700 0%,
        #FFED4E 70%,
        rgba(255, 237, 78, 0) 100%
    );
    border-radius: 3px 10px 10px 3px;
    transform-origin: left center;
    opacity: 0;
    width: 0;
    animation: rayDraw 4s ease-in-out infinite;
}



.decorateLabel-container {
  position: absolute;
  display: inline-block;
  min-height: 60px;
  min-width: 150px;
  top: 25%;
  left: 75%;
  
  .decorateLabel {
    position: absolute;
    bottom: 110px;
    left: 50px;
    background: vars.$white;
    font-size: 24px;
    font-weight: vars.$bold;
    padding: 50px 70px;
    border-radius: 30px;
    opacity: 0;
    animation: labelAnim 4s ease-in-out infinite;
    z-index: 10;
    box-shadow: 0 2px 8px rgba(102, 126, 234, 0.3);
    transform: rotate(-30deg);

    @media (max-width: 1440px) {
      bottom: 90px;
      transform: rotate(-20deg);
    }
  }
  
  .bubble {
    position: absolute;
    background: vars.$white;
    border-radius: 50%;
    opacity: 0;
    
    &-1 {
      width: 15px;
      height: 15px;
      bottom: 5px;
      left: 5px;
      animation: bubble1Anim 4s ease-in-out infinite;
    }
    
    &-2 {
      width: 30px;
      height: 30px;
      bottom: 15px;
      left: 20px;
      animation: bubble2Anim 4s ease-in-out infinite;
    }
    
    &-3 {
      width: 60px;
      height: 60px;
      bottom: 25px;
      right: 50px;
      animation: bubble3Anim 4s ease-in-out infinite;
    }
  }

  @media (max-width: 1600px) {
    left: 85%;
  }

  @media (max-width: 1440px) {
      left: 80%;
  }

  @media (max-width: 1280px) {
      left: 93%;
  }

  @media (max-width: 1024px) {
      display: none;
    }
}


@keyframes labelAnim {
  0% {
    opacity: 0;
  }
  14.5% {
    opacity: 0;
  }
  16.5% {
    opacity: 0.1;
  }
  18.5% {
    opacity: 0.3;
  }
  20.5% {
    opacity: 0.6;
  }
  22.5% {
    opacity: 0.85;
  }
  24.5% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  72% {
    opacity: 0.85;
  }
  74% {
    opacity: 0.6;
  }
  76% {
    opacity: 0.3;
  }
  78% {
    opacity: 0.1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

// Animations of rays
@keyframes rayDraw {
  0% {
    opacity: 0;
    width: 0;
  }
  10% {
    opacity: 0;
    width: 0;
  }
  12% {
    opacity: 0.1;
    width: 40px;
  }
  18% {
    opacity: 0.3;
    width: 80px;
  }
  20% {
    opacity: 0.6;
    width: 120px;
  }
  22% {
    opacity: 0.85;
    width: 160px;
  }
  24% {
    opacity: 1;
    width: 200px;
  }
  70% {
    opacity: 1;
    width: 200px;
  }
  72% {
    opacity: 0.85;
    width: 160px;
  }
  74% {
    opacity: 0.6;
    width: 120px;
  }
  76% {
    opacity: 0.3;
    width: 80px;
  }
  78% {
    opacity: 0.1;
    width: 40px;
  }
  80% {
    opacity: 0;
    width: 0;
  }
  100% {
    opacity: 0;
    width: 0;
  }
}

// Animation for decorateLabel
@keyframes bubble3Anim {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  12% {
    opacity: 0.1;
  }
  14% {
    opacity: 0.3;
  }
  16% {
    opacity: 0.6;
  }
  18% {
    opacity: 0.85;
  }
  20% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  77% {
    opacity: 0.85;
  }
  79% {
    opacity: 0.6;
  }
  81% {
    opacity: 0.3;
  }
  83% {
    opacity: 0.1;
  }
  85% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes bubble2Anim {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 0;
  }
  7% {
    opacity: 0.1;
  }
  9% {
    opacity: 0.3;
  }
  11% {
    opacity: 0.6;
  }
  13% {
    opacity: 0.85;
  }
  15% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  82% {
    opacity: 0.85;
  }
  84% {
    opacity: 0.6;
  }
  86% {
    opacity: 0.3;
  }
  88% {
    opacity: 0.1;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes bubble1Anim {
  0% {
    opacity: 0;
  }
  0% {
    opacity: 0;
  }
  2% {
    opacity: 0.1;
  }
  4% {
    opacity: 0.3;
  }
  6% {
    opacity: 0.6;
  }
  8% {
    opacity: 0.85;
  }
  10% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  87% {
    opacity: 0.85;
  }
  89% {
    opacity: 0.6;
  }
  91% {
    opacity: 0.3;
  }
  93% {
    opacity: 0.1;
  }
  95% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

// Animtaion of camera
@keyframes cameraBreathing {
  0%, 100% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-18deg);
  }
}


// Animtaion of particles
@keyframes floatParticle1 {
    0%, 100% {
        transform: translate(0, 0) rotate(0deg);
    }
    25% {
        transform: translate(20px, -15px) rotate(2deg);
    }
    50% {
        transform: translate(10px, 10px) rotate(0deg);
    }
    75% {
        transform: translate(-15px, -5px) rotate(-2deg);
    }
}

@keyframes floatParticle2 {
    0%, 100% {
        transform: translate(0, 0) scale(1);
    }
    33% {
        transform: translate(-25px, 15px) scale(1.05);
    }
    66% {
        transform: translate(15px, -20px) scale(0.95);
    }
}


