@use './../../assets/styles/variables' as vars;



.footer {
    height: 100px;

    border-top: 1px solid rgba(vars.$secondary, 0.2);
    padding-top: 10px;
}


.footerWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media(max-width: 600px) {
        flex-direction: column;
        justify-content: flex-start;
        row-gap: 5px;
    }
}

