/* Colors */
$accent: #BFF8E7;
$white: #FFF;
$gray: #F4F4F4;
$textColor: #424242;
$secondary: #737373;
$yellow: #FFF952;
$error: #ff6c6c;


/* Font weight */
$thin: 100;
$extra_ligth: 200;
$light: 300;
$regular: 400;
$medium: 500;
$semi_bold: 600;
$bold: 700;
$exta_bold: 800;
$black: 900;











// $_border_radius: 25px;
// $_box_shadow: 0 0 20px rgba(0,0,0,.1);
// $container_padding: 6.6%;