@use './variables' as vars;

html {
    scroll-behavior: smooth;
}


body {
    display: flex;
    flex-direction: column;
    // padding: 0 75px;
    
    overflow-x: hidden;

    font-family: "Raleway", sans-serif;
    color: vars.$textColor;
}

.container {
    max-width: 1770px;   
    min-width: 350px;
    height: 100%;
    margin: 0 auto;
    width: 100%;

    box-sizing: border-box;
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
    color: inherit;
} 

.subTitle {
    font-family: inherit;
    font-size: 32px;
    font-weight: vars.$medium;
    font-optical-sizing: auto;
    
    margin-bottom: 20px;
}

.text {
    font-family: inherit;
    font-size: 20px;
    font-weight: vars.$regular;
    line-height: 150%;
}


.section {
    margin-top: 50px;
}



