@use './../../assets/styles/variables' as vars;



@media (min-width: 0px) {  
    .adminHeader {
        width: 100%;
        height: 40px;

        background-color: vars.$accent;

        padding: 13px 16px;

        width: calc(100% - 32px);
        height: calc(40px - 26px);
    }

    .burger {
        width: 16px;
        height: 16px;

        display: flex;
        flex-direction: column;
        row-gap: 4px;
    }

    .burger-element {
        background-color: vars.$textColor;
        width: 100%;
        height: 2px;
        border-radius: 4px;
    }

// 


    .twoElementContainer {
        display: flex;
        justify-content: space-between;
        column-gap: 8px;
    }

    .adminElement {
        padding: 5px;

        width: calc(100% - 10px);
        height: calc(50px - 10px);
        
        box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 25%);

        display: flex;
        column-gap: 8px;
    }

    .elementImgWrapper {
        height: 100%;

        border: 0.3px solid rgba(vars.$secondary, 0.3);
        border-radius: 5px;
    }

    .elementImage {
        height: 100%;
    }

    .elementLabel {
        font-size: 8px;
    }

    .elementCount {
        font-size: 16px;
    }
}